<!doctype html>
<html>
  <head>
    <title>Monitor</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--<link rel="stylesheet" href="../../css/reset.css">-->
    <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/highlight/styles/solarized-dark.css">

    <link rel="stylesheet" href="log-viewer.css">

    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/highlight.pack.js"></script>
  </head>
  <body>
    <div id="vue">

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            
            <a class="brand-logo">{{title}}</a>
          
            <ul class="right">
              <li>
                <a id="show-settings">
                  <i class="material-icons">settings</i>
                </a>
              </li>
            </ul>

          </div>
        </nav>
      </div>

      <div id="logs" v-if="showLogs">

        <div v-for="item in logs" class="log-item">

          <div class="row">
            <div class="col s12 m6">
              <span class="message">
                <!--<i class="fa fa-caret-right" aria-hidden="true"></i>--> 
                {{item.message}}
              </span>
            </div>
            <div class="col s12 m6 right-align">
              <span class="date">{{item.date}}</span>
            </div>
          </div>

          <div class="row code-wrap">
            <div class="col s12">
              <pre><code class="json">{{item.data}}</code></pre>
            </div>
            <div class="col s12">
              <div class="chip">
                {{item.namespace}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Modal Structure -->
    <div v-if="showSettings" id="settings">
      <div class="modal-content">
        <!--<h4>Configure Monitor</h4>-->
        <form>
          <p>
            <input v-model="enableLogging" type="checkbox" id="enableLogging" />
            <label for="enableLogging">Turn On Logging</label>
          </p>
          <p>
            <input v-model="expandJson"  type="checkbox" id="expandJson" />
            <label for="expandJson">Expand JSON data By Default</label>
          </p>
          <p>
            <input v-model="showNamespace" type="checkbox" id="showNamespace" />
            <label for="showNamespace">Show Namespace</label>
          </p>
          <p>
            <input v-model="clearLogsAutomatically" type="checkbox" id="clearAutomatically" />
            <label for="clearAutomatically">Clear logs automatically</label>
          </p>
          <p>
            <input v-model="showTimestamp" type="checkbox" id="showTimestamp" />
            <label for="showTimestamp">Show Timestamp</label>
          </p>
          <p>
            <input v-model="autoscrollToLatestLog" type="checkbox" id="autoScroll" />
            <label for="autoScroll">Autoscroll to latest log</label>
          </p>
          <p>
            <input v-model="prependLogs" type="checkbox" id="prependLogs" />
            <label for="prependLogs">Prepend logs</label>
          </p>
          <p>Log Level</p>
          <p class="subtext">Only show the this level and above.</p>
          <div class="input-field col s12">
            <div class="row">
              <div class="col s6 m3" v-for="option in logLevels">
                <input v-model="selectedLogLevel" :value="option.value" name="loglevel" type="radio" :id="option.text" />
                <label :for="option.text">{{option.text}}</label>
              </div>
            </div>
          </div>
          <p>Maximum Amount of Logs</p>
          <p class="subtext">How many logs to show before being removed.</p>
          <p class="subtext">Current: {{ maxLogs }}</p>
          <p class="range-field">
            <input v-model="maxLogs" step="5" type="range" id="test5" min="5" max="100" />
          </p>
        </form>
        <button id="btn-save" class="modal-action modal-close waves-effect waves-green-lighten-1 btn green ">Save</button>
      </div>
    </div>

    <script src="log-viewer.js"></script>
</html>

