/* lighter #002b36 */
/* lighter #073642 */

body {
    font-family: roboto;
    font-size:1.2rem;
    background:#073642;
}

/*#vue h1 {
    font-size:1.2rem;
    padding:10px 20px;
    border-bottom: solid 1px #eee;
}*/

nav {
    background-color:#002b36;
    height: 40px;
    line-height: 40px;
}


nav .brand-logo {
    font-size: 1.1rem;
}

@media only screen and (min-width: 1000px) {
    nav .brand-logo {
        margin-left:20px;
    }
}

@media only screen and (max-width: 600px) {
    .log-item .right-align {
        text-align:left;
    }
}

@media only screen and (max-width: 350px) {
    .log-count {
        display:none;
    }
}


nav ul {
    line-height: 40px;
    /*height:40px;*/
}

nav ul li {
    line-height: 40px;
    height:40px;
}

nav .nav-wrapper i {
    line-height: 40px;
    height:40px;
}

.navbar-fixed {
    height: 40px;
    line-height: 40px;
}

.chip {
    background-color: #002b36;
    color:#fff;
    height:25px;
    line-height: 25px;
}

.chips-wrap {
    margin-top:2px;
}


#logs {
    color:#fff;
}

.log-item .row {
    margin-bottom:0;
}

.log-item {
    border-bottom: solid 1px #eee;
    padding:10px;
}

.log-item .date {
    font-size:0.9rem;
    color:#ff9800;
}

.log-item pre {
    font-size:0.85rem;
}

#settings {
    padding:0 20px 20px 20px;
    color:#fff;
}

#settings label {
    color:#fff;
}

#settings .subtext {
    color:#ddd;
    font-size:0.95rem;
    /*font-style: italic;*/
}

#settings .select-wrapper input.select-dropdown {
    border-bottom-color: #fff;
}

.select-wrapper span.caret {
    color:#fff;
}

.All {
    background-color: #616161 ;
}
.Debug {
    background-color: #4db6ac ;   
}
.Info {
    background-color: #2196f3 ;   
}
.Warn {
    background-color: #ff9800;   
}
.Error {
    background-color: #e53935  ;   
}
.Fatal {
    background-color: #b71c1c ;   
}